{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin'|trans|capitalize }} {{ 'users'|trans|capitalize }}{% endblock %}

{%  block activeTab %}
  const activeTab = 'users';
{% endblock activeTab %}

{% block content %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if list %}
      <table>
        <thead>
        <th class="sortable" data-order="id">Id</th>
        <th class="sortable" data-order="username">{{ 'username'|capitalize }}</th>
        <th class="sortable" data-order="firstname">{{ 'firstname'|capitalize }}</th>
        <th class="sortable" data-order="lastname">{{ 'lastname'|capitalize }}</th>
        <th class="sortable" data-order="email">{{ 'email'|capitalize }}</th>
        <th class="sortable" data-order="city">{{ 'city'|capitalize }}</th>
        <th class="sortable" data-order="country">{{ 'country'|capitalize }}</th>
        <th>{{ 'bands'|capitalize }}</th>
        <th class="sortable" data-order="is_active">{{ 'active'|trans|capitalize }}</th>
        <th class="sortable" data-order="roles">{{ 'role'|trans|capitalize }}</th>
        <th>{{ 'actions'|trans|capitalize }}</th>
        </thead>
        <tbody>
        {% for user in list %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.country }}</td>
            <td>
              {% if user.bands is empty %}
                <span>-</span>
              {% else %}
                {% for band in user.bands %}
                  <a href="{{ path('band_detail', {slug: band.slug})}}" title="{{ band.name }}">{{band.id}}</a>{% if loop.last == false %},{% endif %}
                {% endfor %}
              {% endif %}
            </td>
            <td>
              <a href="{{ path('admin_user_enable', {'slug': user.slug}) }}" title="{{ user.isActive ? 'disable' : 'enable' }}">
                {% set isActiveIcon = user.isActive ? 'saved' : 'no-alt' %}
                <span class="iconify {{ isActiveIcon }}"
                      data-icon="dashicons:{{ isActiveIcon }}"
                      data-inline="false">
                </span>
              </a>
            </td>
            <td>
              {% set isAdmin = 'ROLE_ADMIN' in user.roles %}
              <a href="{{ path('admin_user_admin', {'slug': user.slug}) }}" title="{{ isAdmin ? 'admin' : 'user' }}">
              <span class="iconify {{ isAdmin ? 'gold' : 'white'}}"
                    data-icon="dashicons:admin-users"
                    data-inline="false">
              </span>
              </a>
            </td>
            <td class="d-flex flex-row">
              <a href="{{  path('admin_user_update', {'slug':  user.slug}) }}">
                <span class="iconify" data-icon="dashicons:edit" data-inline="false"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ pager |raw }}
    {% endif %}
  {% endif %}
{% endblock %}
