{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Compte</h1>
    <small class="text-secondary">Les champs marqués d'une * sont obligatoires</small>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button" type="submit" value="Créer" />
    {{ form_end(form) }}
{% endblock %}
