{% extends 'base.html.twig' %}

{% block title %}{{ 'send_notification'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
    <span class="bc-current">{{ 'create'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
    <h1>{{ 'send_notification'|trans|capitalize }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'send_notification'|trans|capitalize }}" class="btn btn-secondary" />
    {{ form_end(form) }}

{% endblock %}
