{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
  <div class="container">
    <h1>Notifications</h1>
    {% if notifications is empty %}
      <div class="">You have no notifications.</div>
    {% else %}
      {% for notification in notifications %}
        <div class="notification-container {% if notification.status in ['new', 'unread'] %}unread{% endif %}">
          <p>{{ notification.getMessage | raw }}</p>
          <div class="actions-buttons">
            {% if notification.status in ['new', 'unread'] %}
              <button class="mark-read btn btn-secondary" data-id="{{ notification.id }}">Mark as Read</button>
            {% else %}
              <button class="mark-unread btn btn-secondary" data-id="{{ notification.id }}">Mark as Unread</button>
            {% endif %}
            <button class="notification-delete btn btn-danger" data-id="{{ notification.id }}">Delete</button>
          </div>

        </div>
        <p>{{ notification.getCreatedAt()|date('d/m/Y H:i') }}</p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
