<h2>{{ 'instruments'|trans|capitalize }}</h2>
<ul>
  {% for instrument in user.instruments %}
    <li>{{ instrument.name }}</li>
  {% endfor %}
</ul>
{#<button type="button" name="button" class="btn btn-secondary"><a href="{{ path('instrument_add') }}">{{ 'add_instrument'|trans|capitalize }}</a></button>#}
