{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block breadcrumb %}
<a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
<a href="{{ path('project_list') }}">{{ 'projects'|trans|capitalize }}</a> &gt;
<span class="bc-current">{{ project.title|capitalize }}</span>
{% endblock %}

{% block body %}
{#  <div id="user-info" data-user="{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ app.user.slug }}{% endif %}"></div>#}
    {% if project.tracks is not empty %}
      {% include 'project/studio.html.twig' %}
      <hr>
      {% include 'project/mixing.html.twig' %}
    {% else %}
      <h1 class="text-center">{{ project.title }}</h1>

      {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == project.author %}
        <div class="row justify-content-center">
{#        add demand #}
          <a href="{{ path('track_create', {'project': project.id }) }}"><button class="btn btn-secondary" type="button" name="button">Ajouter une piste</button></a>

{#            delete project#}
{#          {{ form_start(delete_form) }}#}
{#          <button class="button button-red" type="submit" name="button"><i class="fas fa-trash-alt" title="Supprimer"></i> Supprimer</button>#}
{#          {{ form_end(delete_form) }}#}
        </div>
      {% endif %}
    {% endif %}
  <h1>{{ project.title|capitalize }}</h1>
  <button type="button" name="button" class="btn btn-secondary"><a href="{{ path('project_update',{ 'slug': project.slug }) }}">{{ 'edit'|trans|capitalize }}</a></button>
{% endblock %}
