{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('profile') }}
{% endblock %}
{% block title %}{{ user.username }}{% endblock %}

{% block breadcrumb %}
<a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
<span class="bc-current">{{ 'profile_of_user'|trans({'%username%': user.username})|capitalize }}</span>
{% endblock %}

{% block body %}
  <h1>{{ 'profile_of_user'|trans({'%username%': user.username})|capitalize }}</h1>
  <ul>
    {% if  user.avatar %}
      <li><img class="avatar" src="{{ asset('media/avatar/' ~ user.avatar) }}" alt="profile picture"></li>
    {% else %}
      <li><img class="avatar" src="{{ asset('media/avatar/default.png') }}" alt="profile picture"></li>
    {% endif %}
    <li>{{ user.firstname }} {{ user.lastname }} ({{ user.email }})</li>
    <li>Né le {{ user.birthdate|date('d M Y') }}</li>
    <li>{{ user.address1 }}</li>
    {% if user.address2 %}
      <li>{{ user.address2 }}</li>
    {% endif %}
    <li>{{ user.zipcode }} {{ user.city }}</li>
    <li>{{ user.country|upper }}</li>
  </ul>
  {% if user is same as(app.user) %}
    <button type="button" name="button" class="btn btn-secondary"><a href="{{ path('user_update') }}">{{ 'edit'|trans|capitalize }}</a></button>
    <button type="button" name="button" class="btn btn-secondary"><a href="{{ path('user_update_password') }}">{{ 'edit_password'|trans|capitalize }}</a></button>
  {% endif %}

  {% include 'default/user/style/list.html.twig' %}

  {% include 'default/user/instrument/list.html.twig' %}

  {% if  user is not same as(app.user) %}
    <a href="{{ path('notifications_send', { 'to': user.slug }) }}"><button class="btn btn-secondary">send message</button></a>
  {% endif %}
{% endblock %}
