<nav id="admin-nav-left">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link {% if 'recent_activity' in app.request.uri %}active {% endif %}" href="{{ path('admin_dashboard_recent_activity') }}">Récent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'stats' in app.request.uri %}active {% endif %}" href="{{ path('admin_dashboard_stats') }}">Statistiques</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'history' in app.request.uri %}active {% endif %}" href="{{ path('admin_dashboard_history') }}">Historique</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'other' in app.request.uri %}active {% endif %}" href="{{ path('admin_dashboard_other') }}">Autres</a>
    </li>
  </ul>
</nav>




