<header>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
      <a class="navbar-brand" href="{{ path('admin_dashboard_dashboard') }}">{{ app_name }} - Back-office</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mr-0">
          <li class="nav-item">
            <a class="btn btn-danger" href="{{ path('homepage') }}">Quitter</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
