<nav id="admin-nav-top">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link {% if 'admin/dashboard' in app.request.uri %}active {% endif %}" data-tab='dashboard' href="{{ path('admin_dashboard_dashboard') }}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'admin/user' in app.request.uri %}active {% endif %}" data-tab='users' href="{{ path('admin_user_list') }}">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'admin/band' in app.request.uri %}active {% endif %}" data-tab='bands' href="{{ path('admin_band_list') }}">Bands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'admin/project' in app.request.uri %}active {% endif %}" data-tab='projects' href="{{ path('admin_project_list')
      }}">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'admin/style' in app.request.uri %}active {% endif %}" data-tab='styles' href="{{ path('admin_style_list')
      }}">Styles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'admin/instrument' in app.request.uri %}active {% endif %}" data-tab='instruments' href="{{ path
        ('admin_instrument_list')
      }}">Instruments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if 'admin/news' in app.request.uri %}active {% endif %}" data-tab='news' href="{{ path('admin_news_list') }}">News</a>
    </li>
  </ul>
</nav>




