<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock title %}</title>
      {% block javascripts %}
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        {{ encore_entry_script_tags('bootstrap') }}
        {{ encore_entry_script_tags('tinymce') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('project') }}
        {{ encore_entry_script_tags('mixing') }}
        {{ encore_entry_script_tags('band') }}
        {{ encore_entry_script_tags('notifications') }}
        <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
        <script>
          const pusher = new Pusher('{{ pusher_app_key }}', {
            cluster: '{{ pusher_app_cluster }}',
            encrypted: true,
          });

          const channel = pusher.subscribe('my-channel');
          channel.bind('my-event', function(data) {
            console.log('Received notification:', data.notification);
            // display notification to user
          });
        </script>
      {% endblock javascripts %}
      {{ encore_entry_link_tags('tinymce-style') }}
      {{ encore_entry_link_tags('tinymce-content-style') }}
      {% block stylesheets %}
        {{ encore_entry_link_tags('reset') }}
        {{ encore_entry_link_tags('normalize') }}
        {{ encore_entry_link_tags('menu') }}
        {{ encore_entry_link_tags('home') }}
        {% if 'admin' in app.request.uri %}
          {{ encore_entry_link_tags('admin') }}
        {% endif %}
        {% if 'project' in app.request.uri %}
          {{ encore_entry_link_tags('project') }}
        {% endif %}
        {% if 'band' in app.request.uri %}
          {{ encore_entry_link_tags('band') }}
        {% endif %}
        {{ encore_entry_link_tags('notifications') }}
        {{ encore_entry_link_tags('app') }}
      {% endblock stylesheets %}
    </head>
    <body>
        {% set is_connected = is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('admin/parts/menu.html.twig') }}
        <div class="admin-container">
            {% block flash_message %}
                {% set flash_message_types = {
                    'error': 'danger',
                    'warning':'warning',
                    'info':'info',
                    'success': 'success'
                }
                %}
                {% for type, class in flash_message_types %}
                    {% for message in app.flashes(type) %}
                        <div class="alert alert-{{class}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock flash_message %}
          {% block navtop %}
            {{ include('admin/parts/nav-top.html.twig') }}
          {% endblock navtop %}
            {% block body %}
              <div class="container-fluid">
                {% block content %}
                {% endblock content %}
              </div>
            {% endblock body %}
        </div>
        {% block footer %}
        {% endblock footer %}
        <script>
        {% block activeTab %}
        {% endblock activeTab %}
        </script>
    </body>
</html>
