{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class="container-fluid d-flex">
    {% block navleft %}
      {{ include('admin/parts/dashboard-nav-left.html.twig') }}
    {% endblock navleft %}
    {% block content %}
      {% if 'dashboard/recent_activity' in app.request.uri %}
        {{ include('admin/parts/dashboard/recent_activity.html.twig') }}
      {% elseif 'dashboard/stats' in app.request.uri %}
        {{ include('admin/parts/dashboard/stats.html.twig') }}
      {% elseif 'dashboard/history' in app.request.uri %}
        {{ include('admin/parts/dashboard/history.html.twig') }}
      {% elseif 'dashboard/other' in app.request.uri %}
        <div>
          <p>Ici, on affichera:</p>
          <ul>
            <li>- autres à définir (envoi de newsletter, signalements, etc...) ?</li>
          </ul>
        </div>
      {% else %}
        <div>
          <p>Ici, on affichera:</p>
          <ul>
            <li>- l'activité récente (derniers inscrits, derniers projets, etc...)</li>
            <li>- des stats (nombre de membre, de projets, etc...)</li>
            <li>- un historique des actions d'admin</li>
            <li>- autres à définir (envoi de newsletter, signalements, etc...) ?</li>
          </ul>
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock body %}



