{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'edit'|trans|capitalize }} {{ news.title }}{% endblock %}

{% block body %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {{ form_start(form) }}
      {{ form_widget(form) }}
      <input class="button btn btn-secondary" type="submit" value="{{ 'edit'|trans|capitalize }}" />
    <button type="button" name="button" class="btn btn-secondary">
      <a href="{{ path('admin_news_list') }}">{{ 'back'|trans|capitalize }}</a>
    </button>
  {{ form_end(form) }}
  {% endif %}
{% endblock %}
