<h2>{{ 'styles'|trans|capitalize }}</h2>
<ul>
  {% for style in user.styles %}
    <li>{{ style.name }}</li>
  {% endfor %}
</ul>
{#<button type="button" name="button" class="btn btn-secondary"><a href="{{ path('style_add') }}">{{ 'add_style'|trans|capitalize }}</a></button>#}
