{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'add_instrument'|trans|capitalize }}{% endblock %}

{% block body %}
    <h1>{{ 'add_instrument'|trans|capitalize }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'add_instrument'|trans|capitalize }}" class="btn btn-secondary" />
    {{ form_end(form) }}

{% endblock %}
