{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin'|trans|capitalize }} {{ 'instruments'|trans|capitalize }}{% endblock %}

{%  block activeTab %}
  const activeTab = 'instruments';
{% endblock activeTab %}

{% block content %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if list %}
      <table>
        <thead>
        <th class="sortable" data-order="id">Id</th>
        <th class="sortable" data-order="name">{{ 'name'|trans|capitalize }}</th>
        <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
        <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
        <th>{{ 'actions'|trans|capitalize }}</th>
        </thead>
        <tbody>
        {% for instrument in list %}
          <tr>
            <td>{{ instrument.id }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.createdAt | date('Y-m-d H:i:s') }}</td>
            <td>{{ instrument.updatedAt | date('Y-m-d H:i:s') }}</td>
            <td class="d-flex flex-row">
              <a href="{{ path('admin_instrument_update', {'slug':  instrument.slug}) }}">
                <span class="iconify" data-icon="dashicons:edit" data-inline="false"></span>
              </a>
              <form action="{{ path('admin_instrument_delete', {'instrument': instrument.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                <label for="delete-news-{{ instrument.id }}">
                  <span class="iconify" data-icon="ic:round-delete-forever" data-inline="false"></span>
                  <input type="submit" id="delete-news-{{ instrument.id }}" style="display: none" name=""/>
                </label>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ pager |raw }}
    {% else %}
      <p>{{ 'nothing_to_display'|trans|capitalize }}</p>
    {% endif %}
    <a class="btn btn-secondary" href="{{ path('admin_instrument_create') }}">Ajouter</a>
  {% endif %}
{% endblock %}
