@import "./variables.scss";

.admin-container {
  margin: 0 100px;

  table {
    width:100%;
    caption {
      text-align: center;
      caption-side: top;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    .pagination__item--disabled {
      display: block;
      opacity: 50%;
    }
  }

  tr {
    max-height: 1.5em;
  }
  .iconify{
    &.white {
      color: white;
    }
    &.saved, &.green {
      color:green;
    }
    &.no-alt, &.red {
      color:red;
    }
    &.gold {
      color: $admin;
    }
  }


  #history {
    display: block;
    width: 100%;

    ul {
      margin: 1em 0;
      li {
        padding: 1em;
        &:not(:last-child) {
          border-bottom: 1px solid white;
        }

        span {
          &.history-time {
            font-weight: bold;
          }
          &.history-detail {
            padding-left: 2em;
          }
          &.history-user {

          }
          &.history-action {
            .green {
              color: lightgreen;
            }
            .red {
              color: indianred;
            }
            .gold {
              color: $admin;
            }
            .blue {
              color: deepskyblue;
            }

          }
          &.history-target-type {

          }
          &.history-target-id:not(:has(a)), &.history-user-id:not(:has(a)){
            color: grey;
          }
        }
      }
    }
  }
}
