@import "./variables.scss";

body {
  background-color: $bc_color;
  color: $color;
}

#breadcrumb {
  .bc-current {
    color: $admin;
  }
}


a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

section, aside {
  display: inline-block;
  background-color: lighten($bc-color, $easiest);
  border: 3px inset lighten($bc-color, $ease);
  h1 {
    text-align: center;
  }
  hr {
    border: 1px solid $bc-color;
    margin: 1em;
  }
}

th, td {
  border: 1px solid white;
  background-color: lighten($bc-color, $easiest);
  padding: .5em;
}

th{
  font-weight: bold;
}

input {
  background-color: $bc-color;
  color: $color;
  border: 2px inset lighten($bc-color, $ease);
}
