@import "./variables.scss";
html {
  max-width: 99vw;
}
body {
  background-color: $bc_color;
  color: $color;
}

#breadcrumb {
  .bc-current {
    color: $admin;
  }
}

a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.unclickable {
  pointer-events: none;
}

section, aside {
  display: inline-block;
  background-color: lighten($bc-color, $easiest);
  border: 3px inset lighten($bc-color, $ease);
  h1 {
    text-align: center;
  }
  hr {
    border: 1px solid $bc-color;
    margin: 1em;
  }
}

th, td {
  border: 1px solid white;
  background-color: lighten($bc-color, $easiest);
  padding: .5em;
}

th{
  font-weight: bold;
}

input, select {
  background-color: $bc-color;
  color: $color;
  color-scheme: dark;
  border: 2px inset lighten($bc-color, $ease);
  margin: .5em;
}
input[type="submit"] {
  background-color: lighten($bc-color, $easiest);
  border-color: $admin;
}

hr {
  border: none;
  border-top: 1px solid gray !important;
  &.m-1 {
   margin: 1rem auto !important;
  }
  &.m-2 {
    margin: 2rem auto !important;
  }
  &.m-3 {
    margin: 3rem auto !important;
  }
  &.m-4 {
    margin: 4rem auto !important;
  }
  &.m-5 {
    margin: 5rem auto !important;
  }
  &.mt-1 {
    margin-top: 1rem !important;
  }
  &.mt-2 {
    margin-top: 2rem !important;
  }
  &.mt-3 {
    margin-top: 3rem !important;
  }
  &.mt-4 {
    margin-top: 4rem !important;
  }
  &.mt-5 {
    margin-top: 5rem !important;
  }
  &.mb-1 {
    margin-bottom: 1rem !important;
  }
  &.mb-2 {
    margin-bottom: 2rem !important;
  }
  &.mb-3 {
    margin-bottom: 3rem !important;
  }
  &.mb-4 {
    margin-bottom: 4rem !important;
  }
  &.mb-5 {
    margin-bottom: 5rem !important;
  }
  &.w-80 {
    width: 80%;
  }
  &.w-75 {
    width: 75%;
  }
  &.w-66 {
    width: 66.67%;
  }
  &.w-60 {
    width: 60%;
  }
  &.w-50 {
    width: 50%;
  }
  &.w-33 {
    width: 33.33%;
  }
  &.w-25 {
    width: 25%;
  }
  &.w-20 {
    width: 20%;
  }
}

.iconify {
  width: 25px;
  height: 25px;
}

.container {
  position: relative;
  padding: 0;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.on-right {
  position:absolute;
  right: 0;
}

.btn-badge {
  padding: 0 5px;
  border-radius: 1em;
}

.modal-content {
  background-color: $bc-color;
}

.iconify:hover {
  cursor: pointer;
}

nav.pagination {
  border: none;
  a, span {
    display: inline-block;
    border: 3px outset lighten($bc-color, $ease);
    margin-right: .2em;
    padding: .25em 1em;
  }

  a {
    text-decoration: none;
    &:hover {
      background: lighten($bc-color, $easiest);
    }
  }

  .dots {
    border-width: 0;
  }

  .current, .pagination__item--current-page {
    border-color: $admin;
    font-weight: bold;
  }

  .disabled, .pagination__item--disabled {
    display: none;
  }
}

.sortable {
  position: relative;
  padding-right:30px !important;
  &:hover {
    cursor: pointer;
  }
  &:after {
    content: url('https://api.iconify.design/dashicons/arrow-down.svg?color=rgba(255%2C%20255%2C%20255%2C%200.1)&width=30&height=30');
    position: absolute;
    bottom: -2px;
    right: -5px;
    margin: 0 0.5em;
  }
  &.arrow-asc:after {
    content: url('https://api.iconify.design/dashicons/arrow-down.svg?color=white&width=30&height=30');
    position: absolute;
    bottom: -2px;
    right: -5px;
    margin: 0 0.5em;
  }
  &.arrow-desc:after {
    content: url('https://api.iconify.design/dashicons/arrow-up.svg?color=white&width=30&height=30');
    position: absolute;
    bottom: -2px;
    right: -5px;
    margin: 0 0.5em;
  }
}


