.band-banner {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 300px;
}

.band-name {
  text-align: center;
  margin: 1em auto;
}

.band-infos {
  display: flex;
  width: 100%;
  .update-band-button {
    top: 0;
  }
  .band-description {
    text-align: center;
  }
}

input[type=checkbox] {
  margin-left: 5px;
}

.former-member {
  text-decoration: line-through;
  opacity: 50%;
}

