@import './variables.scss';

nav, footer {
  border: 5px inset lighten($bc-color, $ease);
  padding: 1em 3em !important;
}

.navbar {
  border: 5px inset $admin;
}

nav {
  &#admin-nav-top {
    border: 0;
    padding: 1em 0 !important;
  }
  &#admin-nav-left {
    border: 0;
    border-right: 1px solid white;
    padding: 0 !important;
    margin-right: 2em;
    .nav-tabs {
      display: flex;
      flex-direction: column;
      .nav-item {
        border-bottom: 1px solid white;
      }
    }
  }
}
