.notification-container {
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid white;
  display: flex;
  a {
    font-weight: bold;
    cursor: pointer;
  }
  &.unread {
    border-width: 3px;
  }
}
.actions-buttons {
  display: flex;
  flex-direction: column;
  button {
    width: 9em;
  }
}
