@import "./variables.scss";

#project-content {
  display:flex;
  flex-direction: row;
  overflow: hidden;
}
#mixing-container {
  //opacity:0;
}

h1  {
  text-align: center;
}
#tracks {
  tr {
    &:nth-child(even) td {
      background-color: lighten($bc-color, $super_ease);
    }
    td {
      border: none;
    }
  }
}
