{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin'|trans|capitalize }} {{ 'projects'|trans|capitalize }}{% endblock %}

{%  block activeTab %}
  const activeTab = 'projects';
{% endblock activeTab %}

{% block content %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if list %}
      <table>
        <thead>
        <th class="sortable" data-order="id">Id</th>
        <th class="sortable" data-order="title">{{ 'title'|trans|capitalize }}</th>
        <th class="sortable" data-order="author.username">{{ 'author'|trans|capitalize }}</th>
        <th class="sortable" data-order="band.name">{{ 'band'|trans|capitalize }}</th>
        <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
        <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
        <th>{{ 'actions'|trans|capitalize }}</th>
        </thead>
        <tbody>
        {% for project in list %}
          <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td><a href="{{ path('user_detail', {slug: project.author.slug})}}">{{ project.author }}</a></td>
            <td>
              {% if project.band %}
                <a href="{{ path('band_detail', {slug: project.band.slug})}}">{{ project.band.name }}</a>
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ project.createdAt | date('Y-m-d H:i:s') }}</td>
            <td>{{ project.updatedAt | date('Y-m-d H:i:s') }}</td>
            <td class="d-flex flex-row">
              <a href="{{ path('admin_project_update', { slug:project.slug }) }}">
                <span class="iconify" data-icon="dashicons:edit" data-inline="false"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ pager |raw }}
    {% endif %}
  {% endif %}
{% endblock %}
