{% set type = app.request.get('type')| default('all') %}
{% set action = app.request.get('action')| default('all') %}
{% set userId = app.request.get('userId')| default('all') %}
{% set nbItems = app.request.get('nbItems')| default('10') %}
{% set nbItemsOptions = ['10', '25', '50', '100'] %}
{% set typeOptions = {
  'enable': ['user'],
  'disable': ['user'],
  'add_admin': ['user'],
  'remove_admin': ['user'],
  'create': ['instrument', 'style', 'news'],
  'update': ['user', 'project', 'band', 'instrument', 'style', 'news'],
  'delete': ['instrument', 'style', 'news']
} %}
{% set availableOptions = ['user', 'project', 'band', 'instrument', 'style', 'news'] %}

<div class="w-100">
  <form class="d-flex justify-content-center p-3 w-100" action="{{ path('admin_dashboard_history') }}">
    <div>
      <select name="userId" id="userId">
        <option value="all" {% if userId == 'all' %} selected="selected" {% endif %} >{{ "all"|trans|capitalize }}</option>
        {% for adminUser in adminUsers %}
          <option
              value="{{ adminUser.id }}" {% if userId == adminUser.id %} selected="selected" {% endif %}>{{ adminUser }}</option>
        {% endfor %}
      </select>
      <select name="action" id="action">
        <option value="all" {% if action == 'all' %} selected="selected" {% endif %} >{{ "all"|trans|capitalize }}</option>
        {% for selectedAction in typeOptions|keys %}
          <option
              value="{{ selectedAction }}" {% if action == selectedAction %} selected="selected" {% endif %}>{{ selectedAction|trans|capitalize }}</option>
        {% endfor %}
      </select>
      <select name="type" id="type">
        <option value="all" {% if type == 'all' %} selected="selected" {% endif %} >{{ "all"|trans|capitalize }}</option>
        {% if typeOptions[action] is defined %}
          {% for selectedAction in typeOptions[action] %}
            <option
                value="{{ selectedAction }}" {% if type == selectedAction %} selected="selected" {% endif %}>{{ selectedAction|trans|capitalize }}</option>
          {% endfor %}
        {% else %}
          {% for selectedAction in availableOptions %}
            <option
                value="{{ selectedAction }}" {% if type == selectedAction %} selected="selected" {% endif %}>{{ selectedAction|trans|capitalize }}</option>
          {% endfor %}
        {% endif %}
      </select>
      <select name="nbItems" id="nbItems">
        {% for nbItemsOption in nbItemsOptions %}
          <option
              value="{{ nbItemsOption }}" {% if nbItems == nbItemsOption %} selected="selected" {% endif %}>{{ nbItemsOption|trans|capitalize }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <input
          type="datetime-local"
          id="start"
          name="start"
          value={{ app.request.get('start') }}
      />
      <input
          type="datetime-local"
          id="end"
          name="end"
          value={{ app.request.get('end') }}
      />
    </div>

    <input type="submit" value="Filtrer">
  </form>
  <div id="history">
    <h2>Historique</h2>
    <ul>
      {% for historyItem in history %}
        <li>{{ historyItem | raw }}</li>
      {% endfor %}
    </ul>
    {{ pager | raw }}
  </div>
</div>
