{% set type = app.request.get('type')| default('user') %}
{% set nbItems = app.request.get('nbItems')| default('10') %}
{% set typeOptions = ['user', 'project', 'band', 'instrument', 'style', 'news'] %}
{% set nbItemsOptions = ['10', '25', '50', '100'] %}
<div class="w-100">
  <form  class="d-flex justify-content-center p-3 w-100" action="{{ path('admin_dashboard_recent_activity') }}">
    <select name="type" id="type">
      {% for typeOption in typeOptions %}
        <option value="{{ typeOption }}" {% if type == typeOption %} selected="selected" {% endif %}>{{ typeOption|trans|capitalize }}</option>
      {% endfor %}
    </select>
    <select name="nbItems" id="nbItems">
      {% for nbItemsOption in nbItemsOptions %}
        <option value="{{ nbItemsOption }}" {% if nbItems == nbItemsOption %} selected="selected" {% endif %}>{{ nbItemsOption|trans|capitalize }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Filtrer">
  </form>

  {% if type == 'user' %}
    <table>
      <caption>Dernières inscriptions</caption>
      <thead>
        <th>Id</th>
        <th>{{ 'username'|capitalize }}</th>
        <th>{{ 'firstname'|capitalize }}</th>
        <th>{{ 'lastname'|capitalize }}</th>
        <th>{{ 'email'|capitalize }}</th>
        <th>{{ 'city'|capitalize }}</th>
        <th>{{ 'country'|capitalize }}</th>
        <th>{{ 'bands'|capitalize }}</th>
        <th>{{ 'active'|trans|capitalize }}</th>
        <th>{{ 'role'|trans|capitalize }}</th>
        <th>{{ 'created_at'|trans|capitalize }}</th>
      </thead>
      <tbody>
      {% for user in lastItems %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.country }}</td>
          <td>
            {% if user.bands is empty %}
              <span>-</span>
            {% else %}
              {% for band in user.bands %}
                <a href="{{ path('band_detail', {slug: band.slug})}}" title="{{ band.name }}">{{band.id}}</a>{% if loop.last == false %},{% endif %}
              {% endfor %}
            {% endif %}
          </td>
          <td>
            <a href="{{ path('admin_user_enable', {'slug': user.slug}) }}" title="{{ user.isActive ? 'disable' : 'enable' }}">
              {% set isActiveIcon = user.isActive ? 'saved' : 'no-alt' %}
              <span class="iconify {{ isActiveIcon }}"
                    data-icon="dashicons:{{ isActiveIcon }}"
                    data-inline="false">
                    </span>
            </a>
          </td>
          <td>
            {% set isAdmin = 'ROLE_ADMIN' in user.roles %}
            <a href="{{ path('admin_user_admin', {'slug': user.slug}) }}" title="{{ isAdmin ? 'admin' : 'user' }}">
                  <span class="iconify {{ isAdmin ? 'gold' : 'white'}}"
                        data-icon="dashicons:admin-users"
                        data-inline="false">
                  </span>
            </a>
          </td>
          <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% elseif type == 'project' %}
    <table>
      <caption>Derniers projets</caption>
      <thead>
      <th class="sortable" data-order="id">Id</th>
      <th class="sortable" data-order="title">{{ 'title'|trans|capitalize }}</th>
      <th class="sortable" data-order="author.username">{{ 'author'|trans|capitalize }}</th>
      <th class="sortable" data-order="band.name">{{ 'band'|trans|capitalize }}</th>
      <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
      <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
      </thead>
      <tbody>
      {% for project in lastItems %}
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.title }}</td>
          <td><a href="{{ path('user_detail', {slug: project.author.slug})}}">{{ project.author }}</a></td>
          <td>
            {% if project.band %}
              <a href="{{ path('band_detail', {slug: project.band.slug})}}">{{ project.band.name }}</a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>{{ project.createdAt | date('Y-m-d H:i:s') }}</td>
          <td>{{ project.updatedAt | date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% elseif type == 'band' %}
    <table>
      <caption>Derniers groupes</caption>
      <thead>
      <th class="sortable" data-order="id">Id</th>
      <th class="sortable" data-order="name">{{ 'name'|capitalize }}</th>
      <th>{{ 'description'|trans|capitalize }}</th>
      <th class="sortable" data-order="created_by.username">{{ 'created_by'|trans|capitalize }}</th>
      <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
      <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
      <th class="sortable" data-order="manager.username">{{ 'manager'|trans|capitalize }}</th>
      </thead>
      <tbody>
      {% for band in lastItems %}
        <tr>
          <td>{{ band.id }}</td>
          <td>{{ band.name }}</td>
          <td title="{{ band.description }}">{{ band.description | u.truncate(80, ' [...]', false) }}</td>
          <td><a href="{{ path('user_detail', { slug: band.createdBy.slug }) }}">{{ band.createdBy }}</a></td>
          <td>{{ band.createdAt | date('Y-m-d H:i:s') }}</td>
          <td>{{ band.updatedAt | date('Y-m-d H:i:s') }}</td>
          <td><a href="{{ path('user_detail', { slug: band.manager.slug }) }}">{{ band.manager }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% elseif type == 'instrument' %}
    <table>
      <caption>Derniers instruments</caption>
      <thead>
      <th class="sortable" data-order="id">Id</th>
      <th class="sortable" data-order="name">{{ 'name'|trans|capitalize }}</th>
      <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
      <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
      </thead>
      <tbody>
      {% for instrument in lastItems %}
        <tr>
          <td>{{ instrument.id }}</td>
          <td>{{ instrument.name }}</td>
          <td>{{ instrument.createdAt | date('Y-m-d H:i:s') }}</td>
          <td>{{ instrument.updatedAt | date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% elseif type == 'style' %}
    <table>
      <caption>Derniers styles</caption>
      <thead>
      <th class="sortable" data-order="id">Id</th>
      <th class="sortable" data-order="name">{{ 'name'|trans|capitalize }}</th>
      <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
      <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
      </thead>
      <tbody>
      {% for style in lastItems %}
        <tr>
          <td>{{ style.id }}</td>
          <td>{{ style.name }}</td>
          <td>{{ style.createdAt | date('Y-m-d H:i:s') }}</td>
          <td>{{ style.updatedAt | date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% elseif type == 'news' %}
    <table>
      <caption>Dernières news</caption>
      <thead>
      <th class="sortable" data-order="id">Id</th>
      <th class="sortable" data-order="title">{{ 'title'|trans|capitalize }}</th>
      <th class="sortable" data-order="type">{{ 'type'|trans|capitalize }}</th>
      <th class="sortable" data-order="counter">{{ 'counter'|trans|capitalize }}</th>
      <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
      <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
      </thead>
      <tbody>
      {% for news in lastItems %}
        <tr>
          <td>{{ news.id }}</td>
          <td>{{ news.title }}</td>
          <td>{{ news.type }}</td>
          <td>{{ news.counter }}</td>
          <td>{{ news.createdAt | date('Y-m-d H:i:s') }}</td>
          <td>{{ news.updatedAt | date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    Nothing
  {% endif %}
</div>
