{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
<a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
<span class="bc-current">{{ 'dashboard'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
<div class="row">
  <section class="col-12">
    <h1>{{ 'dashboard'|trans|capitalize }}</h1>
    <hr>
    <h2>{{ 'my_projects'|trans|capitalize }}</h2>
    <ul>
      {% for project in user.projects %}
        <li><a href="{{ path('project_detail', { 'slug': project.slug }) }}">{{ project.title }}</a></li>
      {% endfor %}
    </ul>
    <h2>{{ 'my_bands'|trans|capitalize }}</h2>
    <ul>
      {% for band in user.bands %}
        <li><a href="{{ path('band_detail', { 'slug': band.slug }) }}">{{ band.name }}</a></li>
      {% endfor %}
    </ul>
  </section>
</div>

{% endblock %}
