{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block breadcrumb %}
<span class="bc-current">{{ 'home'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-8">
      {% for newsItem in news %}
        <div class="row mr-1 mb-2">
          <section class="col-12 overflow-hidden">
            <h1>{{ newsItem.type ~ ' #' ~ newsItem.counter ~ ' - ' ~ newsItem.title }}</h1>
            <hr>
            <div>{{ newsItem.message |raw }}</div>
{#            <hr>#}
            <span class="news-date">{{ newsItem.createdAt | date }}</span>
          </section>
        </div>
      {% endfor %}
    </div>


  {# TODO:fix diplay #}
      {% include 'parts/random.html.twig' %}
  </div>
{% endblock %}


