{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin'|trans|capitalize }} {{ 'bands'|trans|capitalize }}{% endblock %}

{%  block activeTab %}
  const activeTab = 'bands';
{% endblock activeTab %}

{% block content %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if list %}
      <table>
        <thead>
        <th class="sortable" data-order="id">Id</th>
        <th class="sortable" data-order="name">{{ 'name'|capitalize }}</th>
        <th>{{ 'description'|trans|capitalize }}</th>
        <th class="sortable" data-order="created_by.username">{{ 'created_by'|trans|capitalize }}</th>
        <th class="sortable" data-order="created_at">{{ 'created_at'|trans|capitalize }}</th>
        <th class="sortable" data-order="updated_at">{{ 'updated_at'|trans|capitalize }}</th>
        <th class="sortable" data-order="manager.username">{{ 'manager'|trans|capitalize }}</th>
        <th>{{ 'actions'|trans|capitalize }}</th>
        </thead>
        <tbody>
        {% for band in list %}
          <tr>
            <td>{{ band.id }}</td>
            <td>{{ band.name }}</td>
            <td title="{{ band.description }}">{{ band.description | u.truncate(80, ' [...]', false) }}</td>
            <td><a href="{{ path('user_detail', { slug: band.createdBy.slug }) }}">{{ band.createdBy }}</a></td>
            <td>{{ band.createdAt | date('Y-m-d H:i:s') }}</td>
            <td>{{ band.updatedAt | date('Y-m-d H:i:s') }}</td>
            <td><a href="{{ path('user_detail', { slug: band.manager.slug }) }}">{{ band.manager }}</a></td>
            <td class="d-flex flex-row">
              <a href="{{ path('admin_band_update', { slug: band.slug })}}">
                <span class="iconify" data-icon="dashicons:edit" data-inline="false"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ pager |raw }}
    {% endif %}
  {% endif %}
{% endblock %}
