{% extends 'base.html.twig' %}

{% block title %}{{ 'new_band'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
    <span class="bc-current">{{ 'new_band'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
    <h1>{{ 'new_band'|trans|capitalize }}</h1>
    <small class="text-secondary">{{ 'required_fields'|trans|capitalize }}</small>
    {{ form_start(form, {'attr': {'id': 'band-form'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'create'|trans|capitalize }}" class="btn btn-secondary"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('homepage') }}">
                <button class="btn btn-secondary" type="button" name="button">Retour</button>
            </a>
        </li>
    </ul>
{% endblock %}
