{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('band') }}
{% endblock %}
{% block title %}{{ band.name }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
    <a href="{{ path('band_list') }}">{{ 'bands'|trans|capitalize }}</a> &gt;
    <span class="bc-current">{{ band.name }}</span>
{% endblock %}

{% block body %}

    {% if  band.banner %}
        <img class="band-banner" src="{{ asset('media/band/banner/' ~ band.banner) }}" alt="band banner">
    {% endif %}
    <h1 class="band-name">{{ band.name }}</h1>

    <hr class="w-66 m-2">

    <div class="band-infos row">
        <div class="col-2">
            <img class="band-logo" src="{{ asset('media/band/logo/' ~ band.logo|default('default.png')) }}" alt="band logo">
        </div>
        <div class="band-description col-8">{{ band.description|raw }}</div>
        <div  class="col-2">
            {% if app.user == band.manager %}
                <a href="{{ path('band_update', {slug: band.slug}) }}" class="update-band-button btn btn-warning">
                    {{ 'update_informations'|trans|capitalize }}
                </a>
            {% endif %}
        </div>
{#        <div class="band-meta">#}
{#            Fondé le {{ band.createdAt|date('d M Y') }} par#}
{#            <a href="{{ path('user_detail', { 'slug': band.createdBy.slug }) }}">{{ band.createdBy.username }}</a>#}
{#        </div>#}
    </div>

    <hr class="w-66 m-2">

    <div>

    </div>
    <h2>{{ 'members'|trans|capitalize }}</h2>
    <ul>
        {% if band.createdBy not in band.members %}
            <li>
                <a href="{{ path('user_detail', { 'slug': band.createdBy.slug }) }}"
                   class="former-member">{{ band.createdBy.username }}</a>
                <span  class="btn btn-badge btn-primary">Fondateur</span>
            </li>
        {% endif %}

        {% for member in band.members %}
            <li>
                <a href="{{ path('user_detail', { 'slug': member.slug }) }}">{{ member.username }}</a>
                {% if member == band.manager %}
                    <span class="btn btn-badge btn-warning">Manager</span>
                {% endif %}
                {% if member == band.createdBy %}
                    <span  class="btn btn-badge btn-primary">Fondateur</span>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
    {% if app.user in band.members%}
        {% if app.user == band.manager %}
            <a href="{{ path('band_update_manager', {slug: band.slug}) }}" class="btn btn-warning">{{ 'change_manager'|trans|capitalize }}</a>
            <a href="{{ path('band_handle_members', {slug: band.slug}) }}" class="btn btn-warning">{{ 'handle_members'|trans|capitalize }}</a>
        {% endif %}
        {% if (band.members | length > 1) %}
            <button class="btn btn-danger" id="leave-band-btn">Leave the band</button>
        {% endif %}
    {% else %}
        <a href="{{ path('band_join_request', { 'slug': band.slug }) }}"><button class="btn btn-primary" id="join-band-btn">Join the
                band</button></a>
    {% endif %}

    <!-- Confirmation modal -->
    <div class="modal fade" id="confirm-leave-band-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-leave-band-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-leave-band-modal-label">Leave band confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to leave the band?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{{ path('band_leave', {'slug': band.slug}) }}" id="confirm-leave-band-link"><button class="btn btn-danger">Leave the band</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
