{% extends 'base.html.twig' %}

{% block title %}{{ 'handle_members'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
  <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
  <a href="{{ path('band_list') }}">{{ 'bands'|trans|capitalize }}</a> &gt;
  <a href="{{ path('band_detail', { 'slug': band.slug }) }}">{{ band.name }}</a> &gt;
  <span class="bc-current">{{ 'handle_members'|trans|capitalize }}</span>
{% endblock %}

{% block body %}

{% endblock %}
