{% extends 'base.html.twig' %}

{% block title %}{{ 'band'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
    <span class="bc-current">{{ 'bands'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'parts/search_form.html.twig' with { type: 'band', key: ['name', 'slug'] } %}
        <a href="{{ path('band_create') }}" class="btn btn-secondary">{{ 'create'|trans|capitalize }}</a>
        {% if bandList %}
            <table>
                <thead>
                    <th>{{ 'name'|trans|capitalize }}</th>
                </thead>
                <tbody>
                {% for band in bandList %}
                    <tr>
                        <td><a href="{{ path('band_detail', { 'slug': band.slug }) }}">{{ band.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'nothing_to_display'|trans|capitalize }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
