{% extends 'base.html.twig' %}

{% block body %}
  <ul>
  {% for result in results %}
    <li><a href="{{ path('band_detail', {'slug': result.slug}) }}">{{ result.name }}</a></li>
  {% endfor %}
  </ul>
  <div class="col-md-12">
    {% if results is empty %}
      <p class="h3">{{ 'no_results'|trans }}</p>
    {% endif %}
  </div>
{% endblock %}
