{% extends 'base.html.twig' %}

{% block title %}{{ band.name }}{% endblock %}

{% block breadcrumb %}
  <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
  <a href="{{ path('band_list') }}">{{ 'bands'|trans|capitalize }}</a> &gt;
  <a href="{{ path('band_detail', { 'slug': band.slug }) }}">{{ band.name }}</a> &gt;
  <span class="bc-current">{{ 'edit'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.logo) }}
  {% if band.logo %}
    {{ form_row(form.remove_logo, {
      label: '<span class="iconify" data-icon="dashicons:trash" data-inline="false"></span> Remove logo',
      label_html: true
    }) }}
  {% else %}
    {{ form_row(form.remove_logo, {
      attr: {'style': 'display:none'},
      label_attr: {'style': 'display:none'}
    }) }}
  {% endif %}

  {{ form_row(form.banner) }}
  {% if  band.banner %}
    {{ form_row(form.remove_banner, {
      label: '<span class="iconify" data-icon="dashicons:trash" data-inline="false"></span> Remove banner',
      label_html: true
    }) }}
  {% else %}
    {{ form_row(form.remove_banner, {
      attr: {'style': 'display:none'},
      label_attr: {'style': 'display:none'}
    }) }}
  {% endif %}
  <input class="button btn btn-secondary" type="submit" value="{{ 'validate'|trans|capitalize }}"/>
  <button type="button" name="button" class="btn btn-secondary">
    <a href="{{ path('band_detail', { 'slug': band.slug }) }}">{{ 'back'|trans|capitalize }}</a>
  </button>
  {{ form_end(form) }}

{% endblock %}

