{% extends 'base.html.twig' %}

{% block title %}{{ 'change_manager'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
  <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
  <a href="{{ path('band_list') }}">{{ 'bands'|trans|capitalize }}</a> &gt;
  <a href="{{ path('band_detail', { 'slug': band.slug }) }}">{{ band.name }}</a> &gt;
  <span class="bc-current">{{ 'change_manager'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
  <h1>{{ 'change_manager'|trans|capitalize }}</h1>
  {{ form_start(form, {'attr': {'id': 'band-form', 'action': path('band_update_manager', {'slug': band.slug}) }}) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-secondary" id="update-manager-btn">{{ 'validate'|trans|capitalize }}</button>
  {{ form_end(form) }}

  <ul>
    <li>
      <a href="{{ path('homepage') }}">
        <button class="btn btn-secondary" type="button" name="button">Retour</button>
      </a>
    </li>
  </ul>

  <!-- Confirmation modal -->
  <div class="modal fade" id="confirm-update-manager-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-update-manager-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm-update-manager-modal-label">Update manager confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          After this, you will not be manager of this band anymore. All associated privileges associated to this role will be anavailable for you.
          Are you sure you want to update the band manager?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" id="confirm-update-manager-btn">I'm sure</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
