{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'admin'|trans|capitalize }} {{ 'instruments'|trans|capitalize }}{% endblock %}

{%  block activeTab %}
  const activeTab = 'style';
{% endblock activeTab %}

{% block content %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ style.name }}
  {% endif %}
{% endblock %}
