<aside class="col-4">
  <h1>{{ 'random' | trans | capitalize }}</h1>
{#  <div class="d-flex align-center">#}
{#    <button type="button" name="button" class="btn btn-secondary randomButton" value="band">{{ 'band'|trans|capitalize }}</button>#}
{#    <button type="button" name="button" class="btn btn-secondary randomButton" value="mix">{{ 'mix'|trans|capitalize }}</button>#}
{#    <button type="button" name="button" class="btn btn-secondary randomButton" value="project">{{ 'project'|trans|capitalize }}</button>#}
{#  </div>#}
  <hr>

  <h3>{{ 'bands' | trans | capitalize }}</h3>
  <ul>
    {% for band in random.band %}
      <li><a href="{{ "band/" ~ band.slug }}">{{ band.name }}</a></li>
    {% endfor %}
  </ul>
  <hr>
  <h3>{{ 'projects' | trans | capitalize }}</h3>
  <ul>
    {% for project in random.project %}
      <li><a href="{{ "project/" ~ project.slug }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>

</aside>
