<form action="{{ path( type ~ '_search' ) }}" method="get">
    <input type="text" id="search_form" name="q" placeholder="Rechercher un {{ type|trans|capitalize }}">
    <input type="submit" value="Rechercher">
</form>
