{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mixing') }}
{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
    <a href="{{ path('project_list') }}">{{ 'projects'|trans|capitalize }}</a> &gt;
    <span class="bc-current">{{ project.title|capitalize }}</span>
{% endblock %}

{% block body %}
{#    <div id="user-info" data-user="{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ app.user.slug }}{% endif %}"></div>#}
    {% if project.tracks is not empty %}
        <div id="project-content">
            <div id="studio-container" class="col-12">
                {% include 'default/project/studio.html.twig' %}
                <div id="switch-to-mixing" class="col-12 btn btn-secondary">
                    Mixing >>
                </div>
            </div>
            <div id="mixing-container" class="col-12">
                {% include 'default/project/mixing.html.twig' %}
                <div id="switch-to-studio" class="col-12 btn btn-secondary">
                    << Studio
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center">{{ project.title }}</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == project.author %}
            <div class="row justify-content-center">
                {#        add demand #}
                <a href="{{ path('track_create', {'project': project.slug }) }}"><button class="btn btn-secondary" type="button"
                                                                                              name="button">{{
                        'add_track'|trans|capitalize }}</button></a>

                {#            delete project#}
                {#          {{ form_start(delete_form) }}#}
                {#          <button class="button button-red" type="submit" name="button"><i class="fas fa-trash-alt" title="Supprimer"></i> Supprimer</button>#}
                {#          {{ form_end(delete_form) }}#}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
