<h1>mixing</h1>
<div id="alert-container"></div>
<div id="control-panel">
    <button id="play" class="iconify" data-icon="fa-solid:play-circle" data-inline="false"></button>
    <button id="pause" class="iconify" data-icon="fa-solid:pause-circle" data-inline="false" style="display: none"></button>
    <button id="stop" class="iconify disabled" data-icon="fa-solid:stop-circle" data-inline="false"></button>
{#    <button id="volumePlus" class="iconify" data-icon="fa-solid:plus-circle" data-inline="false"></button>#}
    <span id="currentTime">00:00:00</span>/<span id="totalTime">00:00:00</span>
</div>

<table id=mixing-parameters" class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Start time</th>
        <th>Volume</th>
        <th>Pan</th>
    </tr>
{% for track in tracks %}
    <tr  class="track-parameters-row" data-id="{{ track.id }}" {% if track.isOpen %}style="display:none"{% endif %}>
        <td>{{ track.name }}</td>
        <td><input class="colorInput" type="color" value="#ffffff" data-id="{{ track.id }}"/></td>
        <td><input class="startTimeInput" type="number" step="0.001" min="0" value="{{ track.startTime }}" data-id="{{ track.id }}"/></td>
        <td><input class="volumeBar" type="range"  max="100" name="" value="50" data-id="{{ track.id }}"></td>
        <td><input class="panBar" type="range"  min="-100" max="100" name="" value="0" data-id="{{ track.id }}"></td>
    </tr>
{% endfor %}
</table>
<table class="table table-dark">
    {% for track in tracks %}
        <tr class="visual-track-row" data-id="{{ track.id }}" {% if track.isOpen %}style="display:none"{% endif %}>
            <td class="visual-track-container" style="padding:0">
                <span id="visual-track-{{ track.id }}" class="visual-track"></span>
                <span class="visual-track-cursor"></span>
            </td>
        </tr>
    {% endfor %}
</table>
