<h1>studio</h1>
{% if app.user.id == project.author.id %}
    <a href="{{ path('track_create', {'project': project.slug}) }}" class="btn btn-secondary">{{ 'add_track'|trans|capitalize }}</a>
    <a href="{{ path('project_update', {'slug': project.slug }) }}" class="btn btn-secondary">{{'edit'|trans|capitalize }}</a>
{% endif %}

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">{{ 'track'|trans|capitalize }}</th>
            <th scope="col">{{ 'instrument'|trans|capitalize }}</th>
            <th scope="col">{{ 'contribution'|trans|capitalize }}</th>
            <th scope="col">{{ 'sheet'|trans|capitalize }}</th>
            <th scope="col">{{ 'author'|trans|capitalize }}</th>
            <th scope="col">{{ 'contribute'|trans|capitalize }}</th>
            <th scope="col">{{ 'rate'|trans|capitalize }}</th>
            {% if app.user == project.author %}
                <th scope="col">{{ 'action'|trans|capitalize }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for track in tracks  %}
        <tr class="track" data-id="{{ track.id }}" data-audio="{% if not track.isOpen %}{{ asset("/audio/") }}{{ track.project.id }}-{{ track
        .project.slug }}/{{ track.audio }}{% endif %}" data-start="{{ track.startTime }}">
            {#  Track #}
            <td scope="row">
                {{ track.name }}
            </td>
            {# Instrument #}
            <td>
                {% for instrument in track.instruments %}
                <img src="https://via.placeholder.com/25" title="{{ instrument }}"/>
                {% endfor %}
            </td>
            {# Contribution #}
            <td>
                {% if track.isOpen %}
                    <select name="contributions" id="contributions-{{ track.id }}" class="contribution-select">
                        <option value="">{{ 'select_contribution'|trans|capitalize }}</option>
                        {% for contribution in track.contributions %}
                            <option value="{{asset("/audio/") }}{{ track.project.id }}-{{ track.project.slug }}/contributions/{{ contribution
                            .audio }}" data-start="{{ contribution.startTime }}" data-author="{{ contribution.author.username }}">{{ contribution
                                .slug
                                }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <span class="iconify unclickable" data-icon="dashicons:lock" data-inline="false"></span>
                {% endif %}

            </td>
            {# Music sheet #}
            <td>
                <span class="iconify" data-icon="dashicons:media-audio" data-inline="false"></span>
                <span class="iconify" data-icon="mdi:file-upload" data-inline="false"></span>
            </td>
            {# Author #}
            <td class="author">
                {% if track.isOpen %}
                    <a href="" class="unclickable">-</a>
                {% else %}
                    <a href="{{ path('user_detail', {'slug': track.author.slug}) }}">{{ track.author.username }}</a>
                {% endif %}
            </td>
            {# Contribute #}
            <td>
                {% if track.isOpen %}
                    <a href="{{ path('contribution_create', {'project': project.slug, 'track': track.slug }) }}"><span class="iconify" data-icon="si-glyph:disc-upload" data-inline="false"></span></a>
                {% else %}
                    <span class="iconify unclickable" data-icon="dashicons:lock" data-inline="false"></span>
                {% endif %}
            </td>
            {# Rate #}
            <td>
                <span class="iconify" data-icon="dashicons:star-filled" data-inline="false"></span>
                <span class="iconify" data-icon="dashicons:star-filled" data-inline="false"></span>
                <span class="iconify" data-icon="dashicons:star-filled" data-inline="false"></span>
                <span class="iconify" data-icon="dashicons:star-half" data-inline="false"></span>
                <span class="iconify" data-icon="dashicons:star-empty" data-inline="false"></span>
            </td>
            {% if app.user == project.author %}
                <td class="d-flex flex-row">
                    <a href="{{ path('track_update', {'project': project.slug, 'trackId': track.id }) }}" >
                        <span class="iconify" data-icon="dashicons:edit" data-inline="false"></span>
                    </a>
                    <form action="{{ path('track_delete', {'project': project.slug, 'track': track.id }) }}"  method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <label for="delete-track-{{ track.id }}">
                            <span class="iconify" data-icon="ic:round-delete-forever" data-inline="false"></span>
                            <input type="submit" id="delete-track-{{ track.id }}" style="display: none" name="" />
                        </label>
                    </form>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
